.main-nav-link {
  font-weight: 500;
}
.main-nav-link:hover,
.main-nav-link:focus {
  font-weight: 500;
  color: #404bbf;
}
.contacts {
}
.contacts-list {
}
.contacts-item {
}
.contacts-link {
  font-weight: 400;
  color: #434455;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
